@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1.4em;
  color: #d9534f;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #fbfbfb;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f1f1f1;
}
#dropdown-menu-1 .navbar-toggler {
  color: #d9534f;
}
#header1-2 H1 {
  color: #ffffff;
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
  font-size: 100px;
}
#header1-2 P {
  color: #fbfbfb;
  font-size: 20px;
  text-align: center;
}
#slider-3 H2 {
  text-align: left;
  color: #831a08;
}
#slider-3 P {
  text-align: left;
  color: #ffffff;
}
#form2-e .mbr-section-title {
  color: #ffffff;
}
